<?xml version="1.0"?>
<model>
  <name>Ursa</name>
  <version>1.0</version>
  <sdf>ursa.sdf</sdf>

  <author>
   <name>Lachlan Dowling</name>
   <email>dowlingl@student.unimelb.edu.au</email>
  </author>

  <description>
    This is a model of the URSA autonomous aerial vehicle.
  </description>
</model>
