<?xml version="1.0"?>
<model>
  <name>Erlecopter</name>
  <version>1.0</version>
  <sdf version='1.4'>erlecopter.sdf</sdf>

  <author>
   <name>Erle Robotics</name>
   <email></email>
  </author>

  <description>
    This is a model of the Erlecopter modified by Lachlan Dowling
  </description>
</model>
